
body{
    background: #ffcb05;
    font-family: 'DePixel', sans-serif;                                              
}


header{
    
    text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    font-size: 50px;
    text-align: center;
    color: #f25151;
    font-weight: bold;
    font-family: 'Pokemon Solid', sans-serif;
    padding: 20px                                               
}


main{

    display: flex;
}


/*Espacio para escribir el texto a encriptar o desencriptar*/


.ingresa-texto{
    font-weight: bold;
    display:inline-block;
    text-align: center;
    color: white;
    background: #3a71c3;
    margin-left: 25%;
    width: 800px;
    height: 700px;
    border-radius:15px;
    vertical-align: top; 
    margin-top: 2%;
    
}


#texto-indicativo{
    margin-top: 8%;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}



.texto-inicial{

    border-width: 0;
    border-color: transparent;
    margin-top: 4%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #003a70;
    font-family: 'Falling Sky', sans-serif;
    font-size: 25px;
    font-weight: bold;
                                            
}


/*BOTONES*/



.botones{

    margin-top: 2%;
}


.boton-encriptado{

    margin-top: 20px;
    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'DePixel', sans-serif;
    color: black;
    padding: 0 40px;
    background: #e5e5e5;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.6);
}

.boton-encriptado:hover{
    background: #003060;
    color: white;
    position: relative;
    top: 10px;
    box-shadow: none;
}


.boton-desencriptado{

    font-size: 18px;
    font-family: 'DePixel', sans-serif;
    margin-top: 20px;
    line-height: 45px;
    font-weight: bold;
    color: black;
    padding: 0 40px;
    background: #e5e5e5;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.6);
}


.boton-desencriptado:hover{
    background: #003060;
    color: white;
    position: relative;
    top: 10px;
    box-shadow: none;

}


.boton-copiar{

    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'DePixel', sans-serif;
    color: black;
    padding: 0 40px;
    background: #e5e5e5;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.6);
    margin-left: 75%;

}


.boton-copiar:hover{
    background: #003060;
    color: white;
    position: relative;
    top: 10px;
    box-shadow: none;
}


/*Espacio donde aparece el texto encriptado, listo para ser copiado*/

.mensaje-copiado{
    font-family: 'Falling Sky', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #003a70;
    background: #3a71c3;
    background-image: url(imagenes/pikachu-sorpresa-3.png);
    background-position: -0.9em 5%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 50%;
    padding-top: 18%;
    position: relative;
    pointer-events: none;
}


/*Pie de pagina con datos de autor*/

footer{
    font-size: 10px;
    font-weight: bold;
    color: #f25151;
    text-align: right;
    padding: 1%;
}


/*Haciendo responsivo el sitio*/

@media screen and (max-width:480px) {

    header{
        max-width: 60%;
    }

    body{
        max-width: 100%;
    }

    main{
        display: inline-block;
    }

    .ingresa-texto{
        margin-left: 0px;
        max-width: 60%;
        max-height: 40%;
    }

    h3{
        text-align: right;
        margin-top: 20%;
    }


    .seccion-mensaje-listo{
        width: 2px ;
        height: 2px ;
    }

    .seccion-ingreso-mensaje{
        height: auto;
        width: auto;
        margin-bottom: 4%;
    }


    .mensaje-copiado{
        margin-left: 1px;
        padding-top: 10%;
        vertical-align:bottom;
        background-position: -1.3em 55%;
    }

    .boton-copiar{
        padding-top: 1%;
    }
    
 

}
