
body{
    background: #ffcb05;
    font-family: 'DePixel', sans-serif;                                              
}


header{
    
    text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 2px black;
    font-size: 50px;
    text-align: center;
    color: #f25151;
    font-weight: bold;
    font-family: 'Pokemon Solid', sans-serif;
    padding: 50px                                               
}


main{

    display: flex;
}

/*
.seccion-ingreso-mensaje, .seccion-mensaje-listo{
    width: 1000px;
    margin: 0 auto;
    
} */

/*Espacio para escribir el texto a encriptar o desencriptar*/


.ingresa-texto{
    font-weight: bold;
    display:inline-block;
    text-align: center;
    color: white;
    background: #3a71c3;
    margin-left: 35%;
    width: 800px;
    height: 700px;
    border-radius:15px;
    vertical-align: top; 
    margin-top: 2%;
    
}


#texto-indicativo{
    margin-top: 8%;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}



.texto-inicial{

    border-width: 0;
    border-color: transparent;
    margin-top: 4%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color: #003a70;
    font-family: 'Falling Sky', sans-serif;
    font-size: 25px;
    font-weight: bold;
                                            
}


/*BOTONES*/



.botones{

    margin-top: 2%;
}


.boton-encriptado{

    margin-top: 20px;
    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'DePixel', sans-serif;
    color: black;
    padding: 0 40px;
    background: #e5e5e5;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.6);
}

.boton-encriptado:hover{
    background: #003060;
    color: white;
    position: relative;
    top: 10px;
    box-shadow: none;
}


.boton-desencriptado{

    font-size: 18px;
    font-family: 'DePixel', sans-serif;
    margin-top: 20px;
    line-height: 45px;
    font-weight: bold;
    color: black;
    padding: 0 40px;
    background: #e5e5e5;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.6);
}


.boton-desencriptado:hover{
    background: #003060;
    color: white;
    position: relative;
    top: 10px;
    box-shadow: none;

}


.boton-copiar{

    line-height: 45px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'DePixel', sans-serif;
    color: black;
    padding: 0 40px;
    background: #e5e5e5;
    border: 3px solid #003060;
    border-radius: 40px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.6);
    margin-left: 90%;

}


.boton-copiar:hover{
    background: #003060;
    color: white;
    position: relative;
    top: 10px;
    box-shadow: none;
}


/*Espacio donde aparece el texto encriptado, listo para ser copiado*/

.mensaje-copiado{
    font-family: 'Falling Sky', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #003a70;
    background: #3a71c3;
    background-image: url(imagenes/pikachu-sorpresa-3.png);
    background-position: -0.9em 5%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 65%;
    padding-top: 18%;
    position: relative;
    pointer-events: none;
}


/*Pie de pagina con datos de autor*/

footer{
    font-size: 10px;
    font-weight: bold;
    color: #f25151;
    text-align: right;
    padding: 1%;
}

/*Haciendo responsivo el sitio*/

@media screen and (max-width:500px) { /*de 0px a 500px*/

    header, h1{
        font-size: 20px;
        text-align: center;
        padding: 2%;
        margin-right: 10%;
    }

    body{
        max-width: 470px ;
        max-height: 650px ;
    }

    main{
        display: inline;
        max-height: 700px;
        max-width: 470px;
    }

    #texto-indicativo{
        font-size: 10px;
    }

    .botones{
        margin-top: 0px;
 
    }


    .ingresa-texto{
        margin-top: 0;
        margin-left: 0px;
        max-width: 65%;
        max-height: 90%;
    }

    h3{
        text-align: right;
        margin-top: 20%;
    }


    .seccion-mensaje-listo{
        margin-top: 0px;
        width: 500px;
        height: 300px ;
        top: 1px;
   
    }

    .texto-inicial{
        width: 300px;
        height: 200px;
        font-size: 15px;
    }

    .seccion-ingreso-mensaje{
        height: 280px;
        width: 550px;
        margin-bottom: 4%;

    }


    .mensaje-copiado{
        width: 350px;
        height: 175px;
        margin-left: 1px;
        padding-top: 10%;
        vertical-align:bottom;
        background-position: 5em 5%;
        background-size: 60%;
        background-repeat: no-repeat;
        font-size: 15px;
    }

    .boton-copiar{
        
        line-height: 1.5em;
        font-size: 10px;
        margin-left: 20%;
    }

    .boton-encriptado{
        
        line-height: 1.5em;
        font-size: 10px;
        padding: 0 0;

    }

    .boton-desencriptado{
    
        line-height: 1.5em;
        font-size: 10px;
    }


    footer, h3{
        display: inline;
        max-width: 100px;
        max-height: 100px;
    }

}
